PORT=3000
SESSION_SECRET=ganti-dengan-string-rahasia-panjang-acak
ADMIN_EMAIL=admin@assalam.com
ADMIN_PASSWORD=assalam123
ADMIN_NAME=Administrator Masjid
BANK_NAME=BSI
BANK_ACCOUNT=7123456789
BANK_HOLDER=Masjid Assalam
NODE_ENV=development
